<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post">
    <p>{{ .error }}</p>
    <input type="hidden" name="_csrf" value="{{.csrfToken}}">

    <div>
        <label for="email">E-Mail Address</label>
        <input placeholder="E-Mail Address..." type="text" name="email" id="email">
    </div>

    <div>
        <label for="password">Password</label>
        <input placeholder="Password..." type="password" name="password" id="password">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>